<div class="container">
<app-card
gameImagem="assets/bt-1.jpg"
gameLabel="DIGITAL"
titulo="Play it Now"
gameType="DIGITAL PS"
gamePrice="R$ 329,99"
>
</app-card>
<app-card
gameImagem="assets/bt-4.jpg"
gameLabel="EXCLUSIVE"
titulo="Play it Now"
gameType="DIGITAL PS5"
gamePrice="R$ 269,99"
>
</app-card>
<app-card
gameImagem="assets/bt-5.jpg"
gameLabel="EXCLUSIVE"
titulo="Play it Now"
gameType="DIGITAL P4"
gamePrice="R$ 99,99"
>
</app-card>
<app-card
gameImagem="assets/bt-hardline.jpg"
gameLabel="NEW"
titulo="Play it Now"
gameType="DIGITAL P4"
gamePrice="R$ 99,99"
>
</app-card>
</div>
