<div class="menu">
    <div class="logo">
        <img src="assets/ps-logo.png" alt="" width="140px" height="32px">
    </div>
    <div class="item">
        <ul>
            <li><a href="#" >Novidades</a></li>
          
        
            <li><a href="#">Coleções</a></li>
        
           <li><a routerLink="#">Ofertas</a></li>
           <li><a routerLink="#">PS5</a></li>
           <li><a routerLink="#">Assinatura</a></li>
           <li><a routerLink="#">Navegar</a></li>
     
     
        </ul>
    </div>
</div>
